.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-right: 10px;
}

.search-btn {
  background-color: #6c63ff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background-color: #574bdb;
}

.available-text {
  color: green;
  font-weight: bold;
}

.not-available-text {
  color: red;
  font-weight: bold;
}

.no-results {
  text-align: center;
  margin-top: 20px;
  color: #777;
}